body {
  background-image: url(img/SPD-Wall\ -\ Copy.png);
  background-size: cover;
  color: #ffffff;
  font-size: 25px;
}
.subsection {
  background-color: #0ab19b;
}
.main-header {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 50px auto;
  padding: 5px 5px;
}
