body {
  background-image: url(img/SPD-Wall\ -\ Copy.png);
  background-size: cover;
  color: #ffd700;
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.subsection {
  background-color: #6d6d6d;
}
.main-header {
  margin: 20px 40px auto;
  background-color: #6d6d6d;
  text-align: center;
}
#Img {
  margin: 50px;
  img
}
h2 {
  text-align: center;
  margin: 40px auto;
  padding: 5px 5px;
}
.paragraph {
  margin-left: 50px;
  margin-bottom: 50px;
  text-align: left;
}
